In [26]:
# Dependencies and Setup
import pandas as pd

# Read Purchasing File and store into Pandas data frame
crime_data = pd.read_csv("Data/austin_crime.csv", low_memory=False)

In [27]:
crime_data.head()

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,...,Census Tract,Clearance Status,Clearance Date,UCR Category,Category Description,X-coordinate,Y-coordinate,Latitude,Longitude,Location
0,2019891702,CRIMINAL TRESPASS,2716,N,03/30/2019 08:44:00 PM,03/30/2019,2044.0,03/30/2019 08:59:00 PM,03/30/2019,2059.0,...,11.00,C,03/30/2019,NaN,NaN,3117057.0,3117057.0,30.269060,-97.734085,"(30.26905967, -97.73408544)"
1,20195013370,THEFT,600,N,03/23/2019 06:00:00 PM,03/23/2019,1800.0,04/01/2019 03:47:00 PM,04/01/2019,1547.0,...,21.07,N,04/03/2019,23H,Theft,3133783.0,3133783.0,30.302208,-97.680177,"(30.30220794, -97.6801768)"
2,20172571868,AGG ROBBERY/DEADLY WEAPON,300,N,09/14/2017 10:37:00 PM,09/14/2017,2237.0,09/14/2017 10:37:00 PM,09/14/2017,2237.0,...,18.04,O,09/20/2017,120,Robbery,3125442.0,3125442.0,30.333542,-97.705762,"(30.33354183, -97.70576196)"
3,2019920086,FAMILY DISTURBANCE,3400,N,04/02/2019 01:49:00 AM,04/02/2019,149.0,04/02/2019 01:49:00 AM,04/02/2019,149.0,...,15.03,NaN,NaN,NaN,NaN,3125614.0,3125614.0,30.332481,-97.705246,"(30.3324806, -97.70524551)"
4,2019891685,POSS MARIJUANA,1803,N,03/30/2019 10:36:00 PM,03/30/2019,2236.0,03/30/2019 10:36:00 PM,03/30/2019,2236.0,...,7.00,C,04/02/2019,NaN,NaN,3117721.0,3117721.0,30.274861,-97.731825,"(30.27486103, -97.73182518)"

In [28]:
crime_data=crime_data.dropna()
crime_data["Date"]=pd.to_datetime(crime_data["Occurred Date Time"])

In [29]:
ride_start_date = "2016-06-04 00:10:19-05:00"
ride_end_date = "2017-04-13 18:56:41-05:00"
print(crime_data["Date"].max())
print(crime_data["Date"].min())

2019-04-12 15:43:00
2003-01-01 00:01:00

In [30]:
filter = (crime_data['Date'] > ride_start_date) & (crime_data['Date'] <= ride_end_date)

In [31]:
crime_data=crime_data.loc[filter]

In [32]:
print(crime_data["Date"].max())
print(crime_data["Date"].min())

2017-04-13 18:40:00
2016-06-04 01:30:00

In [33]:
crime_data.head()

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,...,Clearance Status,Clearance Date,UCR Category,Category Description,X-coordinate,Y-coordinate,Latitude,Longitude,Location,Date
147,2017621909,BURGLARY OF VEHICLE,601,N,03/03/2017 09:31:00 PM,03/03/2017,2131.0,03/03/2017 09:31:00 PM,03/03/2017,2131.0,...,N,03/28/2017,23F,Theft,3099306.0,3099306.0,30.162911,-97.793123,"(30.16291061, -97.79312325)",2017-03-03 21:31:00
166,20163581310,BURGLARY OF RESIDENCE,500,N,12/23/2016 06:23:00 PM,12/23/2016,1823.0,12/23/2016 06:23:00 PM,12/23/2016,1823.0,...,C,12/23/2016,220,Burglary,3135997.0,3135997.0,30.309300,-97.672964,"(30.30930019, -97.6729636)",2016-12-23 18:23:00
407,20168003574,BURGLARY OF VEHICLE,601,N,06/22/2016 01:40:00 PM,06/22/2016,1340.0,06/22/2016 08:26:00 PM,06/22/2016,2026.0,...,N,12/08/2016,23F,Theft,3114731.0,3114731.0,30.225104,-97.742635,"(30.22510374, -97.74263508)",2016-06-22 13:40:00
445,20175010878,THEFT FROM AUTO,603,N,03/15/2017 10:00:00 PM,03/15/2017,2200.0,03/16/2017 12:26:00 PM,03/16/2017,1226.0,...,N,03/23/2017,23F,Theft,3095942.0,3095942.0,30.456520,-97.796062,"(30.45652049, -97.79606239)",2017-03-15 22:00:00
1007,20165032364,THEFT,600,N,08/06/2016 03:59:00 PM,08/06/2016,1559.0,08/06/2016 03:59:00 PM,08/06/2016,1559.0,...,N,08/09/2016,23H,Theft,3115265.0,3115265.0,30.267031,-97.739818,"(30.26703057, -97.73981801)",2016-08-06 15:59:00